.input {
  border: none;
  border-radius: 9999em;
  font-size: 1em;
  padding: .5em 2em .5em 1em;
  width: 500px;

  outline: rgba(255, 255, 255, 0.2) solid;
  outline-width: 0;
  transition: outline .3s;

  &::placeholder {
    color: rgb(201, 201, 201);
  }

  &:focus {
    outline-width: 5px;
  }
}
