html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  background: linear-gradient(0deg, #66CCFF, #5597ff);
  overflow: hidden;
  user-select: none;
}

#app {
  height: 100%;
  position: relative;
}

a {
  color: white;

  transition: color 0.1s;
  &:hover {
    color: darken(white, 10%);
  }
}
